<div class="row justify-content-center" style="margin: 25px;">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="text-align: center; border: 1px solid; border-radius: 15px;">
        <div>
            <button type="button" class="btn btn-calc" style="background-color: white;"></button>
            <button type="button" class="btn btn-calc" style="background-color: white;"></button>
            <button type="button" class="btn btn-calc" style="background-color: white;"></button>
            <button type="button" class="btn btn-calc" style="color: red;"><i class="fas fa-backspace"></i></button>
        </div>
        <div style="margin-left: 20px; margin-right: 20px;">
            <hr>

        </div>
        <div>
            <button type="button" class="btn btn-calc" style="color: red;">C</button>
            <button type="button" class="btn btn-calc" style="color: green;">( )</button>
            <button type="button" class="btn btn-calc" style="color: green;"><i class="fas fa-percentage"></i></button>
            <button type="button" class="btn btn-calc" style="color: green;"><i class="fas fa-divide"></i></button>
        </div>
        <div>
            <button type="button" class="btn btn-calc">7</button>
            <button type="button" class="btn btn-calc">8</button>
            <button type="button" class="btn btn-calc">9</button>
            <button type="button" class="btn btn-calc" style="color: green;"><i class="fas fa-times"></i></button>
        </div>
        <div>
            <button type="button" class="btn btn-calc">4</button>
            <button type="button" class="btn btn-calc">5</button>
            <button type="button" class="btn btn-calc">6</button>
            <button type="button" class="btn btn-calc" style="color: green;"><i class="fas fa-minus"></i></button>
        </div>
        <div>
            <button type="button" class="btn btn-calc">1</button>
            <button type="button" class="btn btn-calc">2</button>
            <button type="button" class="btn btn-calc">3</button>
            <button type="button" class="btn btn-calc" style="color: green;"><i class="fas fa-plus"></i></button>
        </div>
        <div>
            <button type="button" class="btn btn-calc" style="text-align: center;">+/-</button>
            <button type="button" class="btn btn-calc">0</button>
            <button type="button" class="btn btn-calc">,</button>
            <button type="button" class="btn btn-calc" style="color: white; background-color: green;"><i
                    class="fas fa-equals"></i></button>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>